
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body
{
    background-color: #0b0b0b;
}
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 249, 249, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    
    color: black;
    box-shadow: 0 0 10px white;
}
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height: 600px;
    justify-content: center;
    color: white;
    padding: 70px;
}
.main {
    display:flex ;
    flex-direction: column;
    /*border:1px solid white;*/
    align-items: center;
    position: absolute;
    top:35%;
    right: 10%;
    
}
.headings{
    font-family: century;
    font-size: 2rem;
    text-align: center;
    margin: 20px 10px;
}
.heading
{
    font-family: century;
    font-size: 1.4rem;
    text-align: center;

}
.btn
{
    padding: 10px 35px;
    color:darkblue;
    font-weight: bold;
}
/*ABOUT SECTION*/

#about{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    background-color:white;
}
    
#pic{
    display: flex;
}
#pic img {
    width: 300px;
    height: 300px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
/*PORTFOLIO SECTION*/
#education{
    display: flex;
    flex-direction: column;
    color:rgb(255, 255, 255);
    background-color: black;
    align-items: center;
    padding: 20px
    
}
.box1{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items:center ;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top,rgb(222, 225, 227) 50%,white 50%);
    color: black;
    background-size: 100% 200%;
    transition: all .8s;
}

/*PROJECT SECTION*/
#project{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;

}
.row
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-boxx;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 340px;
    border: 1px solid black;
    margin: 10px;
    align-items:center ;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top,rgb(222, 225, 227) 50%,white 50%);
    color: black;
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    columns: white;
    border: none;
    box-shadow: 0 0 20px rgb(5, 5, 5);

}
/*CONTACT SECTION*/
#contact
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #0f0f0f;
    color: white;
    padding: 10px;

}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 0px;
}
.input{
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    width: 20%;
}
#msg{
    margin: 10px;
    border: none;
    outline: none;
    width: 30%;
}
#submit{
    padding: 8px;
    border: none;
    outline: none;
    margin: 20px
}
#submit:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
.profile
{
    color: white;
    font-size: 1rem;

}